.paper {
    background: #fdfcf8;
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0.02) 1px, transparent 1px),
        radial-gradient(circle, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
    background-size: 5px 5px;
    background-position:
        0 0,
        2.5px 2.5px;
    padding: 2rem;
    /* font-family: 'Times New Roman', serif; */
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: 700;

    @media (max-width: 800px) {
        padding: 1rem;
        width: 70%;
        padding: 1rem;
        width: 80vw;
        margin: 0 auto;
        position: relative;
    }
}
