@import 'tailwindcss';
@import '../styles/font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url('/images/bg1.png');
    background-size: 400px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #061c2b;
    overflow-y: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Pretendard', sans-serif;
} */

@layer components {
    .flipping-page {
        @apply absolute top-2 left-[404px] w-[380px] h-[480px] bg-white flex items-center justify-center rounded-sm;
    }
}
